<!-- <div class="signin-box">
  <div class="signin-title">
    <h1>Sign In</h1>
  </div> -->
<!-- Login -->
<!-- <div class="signin-input">
  <form (submit)="loginUser($event)" action="/home"> -->
    <!-- Get Username -->
    <!-- <mat-form-field>
        <input type="text" id="username" placeholder="Username" matInput placeholder="Username">
    </mat-form-field> -->

  <!-- Login -->
  <!-- <div class="signin-input">
    <form (submit)="loginUser($event)"> -->
      <!-- Get Username -->
    <!-- Get Password-->
    <!-- <mat-form-field>
        <input type="password" id="password" placeholder="Password" matInput placeholder="Password">
    </mat-form-field> -->

    <!-- Login Button -->
    <!-- <button type="submit" value="Submit" mat-raised-button color="primary">Login</button>
  </form>
</div> -->
    <!-- Invalid Login Error -->s
    <!-- <div *ngIf="!is_login_valid">
      <h3>Login is INVALID</h3>
    </div>
</div> -->
<!-- vnjfjk -->
<div class="signin-header">
  <h1>Sign In</h1>
</div>

<div class="signin-input">
  <form (submit)="loginUser($event)" action="/home">
    <!-- Get Username -->
    <div class="user-field">
      <mat-form-field>
        <input type="text" id="username" placeholder="Username" matInput placeholder="Username">
      </mat-form-field>
    </div>
    <!-- Get Password -->
    <div class="pass-field">
      <mat-form-field>
        <input type="password" id="password" placeholder="Password" matInput placeholder="Password">
      </mat-form-field>

      <!-- Login Button -->
      <!-- <button type="submit" value="Submit" mat-raised-button color="primary">Login</button>
    </form> -->

    <!-- Routing to: Register page -->


    <!-- Invalid Login Error -->
    <!-- <div *ngIf="!is_login_valid">
      <h3>Login is INVALID</h3> -->
    </div>
   <!-- Login Button -->
   <div class="login-field">
      <button type="submit" value="Submit" mat-raised-button color="primary">Login</button>
      <a mat-button [routerLink]="['/register']" mat-raised-button color="primary">Register</a>
   </div>

  </form>
</div>

<!-- Invalid Login Error -->
<div *ngIf="!is_login_valid" class="error-field">
  <h3>Login is INVALID</h3>
</div>
