<h1>Cart</h1>

<div *ngIf="userSVC.mainUser == null">
  Sign-In To View Cart
</div>
<div *ngIf="userSVC.mainUser != null && userSVC.mainUser.cart.length == 0">
  <h2>Cart Empty</h2>
</div>
<div *ngIf="userSVC.mainUser != null && userSVC.mainUser.cart.length > 0">
  <div *ngFor="let item of userSVC.mainUser.cart">
    <h3>{{item.name}}</h3><br>
    <img src='{{item.image}}' height="300" widtd="200" class="center"><br>
    Description: {{item.description}}<br>
    Price: ${{item.stock * item.price}}<br>
    <button (click)="removeItem(item)">Remove Item</button>
  </div>
</div>
