<mat-toolbar color="primary">
  <!-- aligns text on left of toolbar -->
  <span>OtterShop</span>

  <!-- creates blank empty center space -->
  <span class="fill-remaining-space">
      <span>
          <a mat-button routerLink="home">Home <mat-icon aria-label>home</mat-icon></a>
      </span>
      <span>
          <a mat-button routerLink="search">Search <mat-icon aria-label>search</mat-icon></a>
      </span>
      <span>
          <a mat-button routerLink="cart">Cart <mat-icon aria-label>shopping_cart</mat-icon></a>
      </span>
  </span>

  <!-- aligns text on right of toolbar -->
  <span>
      <a mat-button routerLink="signin" *ngIf="userSVC.mainUser == null">Sign In <mat-icon aria-label>account_circle</mat-icon></a>
      <a mat-button (click)="logout()" *ngIf="userSVC.mainUser != null">Logout</a>
  </span>
</mat-toolbar>
