<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <span>Home Page</span> -->
      <span class="example-spacer">
        <div class="home-nav">
          <a mat-button routerLink="home">Home</a>
        </div>
        <div class ="signin-nav">
          <a mat-button routerLink="signin">User Sign-In</a>
        </div>
        <div class="search-nav">
          <a mat-button routerLink="search">Search</a>
        </div>
        <div class="cart-nav">
          <a mat-button routerLink="cart">Cart</a>
        </div>
      </span>

      <!-- <mat-icon class="example-icon"><a routerLink="home">home</a></mat-icon> -->
      <!-- <mat-icon class="example-icon" [matMenuTriggerFor]="menu">menu</mat-icon> -->
      <!-- <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>shopping_cart</mat-icon>
            <span><a routerLink="">Cart</a></span>
          </button>
          <button mat-menu-item> -->
            <!-- <button mat-menu-item disabled> -->
            <!-- <mat-icon>account_box</mat-icon>
            <span><a routerLink="signin">User Sign-In</a></span>
          </button>
          <button mat-menu-item>
            <mat-icon>card_giftcard</mat-icon>
            <span>Products</span>
          </button>
        </mat-menu> -->
    </mat-toolbar-row>
  </mat-toolbar>
