<!-- <div id="container"> -->
  <!-- <app-navbar></app-navbar> -->
  <!-- <div id="content">
    <router-outlet></router-outlet>
  </div>
</div> -->

<!-- <ngb-carousel [showNavigationArrows]="false" *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="1st Slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="2nd Slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
    </div>
  </ng-template>
</ngb-carousel> -->
